@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 14px/1 'Roboto', sans-serif;
  color: #ffffff45;
  background-color: #fff ;
  -webkit-font-smoothing: antialiased;
  height: 100vh;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  color: #fff;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: none;
}

[placeholder]::-webkit-input-placeholder { color: rgba(255,255,255,.8); }
[placeholder]:hover::-webkit-input-placeholder { color: rgba(255,255,255,.4); }
[placeholder]:focus::-webkit-input-placeholder { color: transparent; }

[placeholder]::-moz-placeholder { color: rgba(255,255,255,.8); }
[placeholder]:hover::-moz-placeholder { color: rgba(255,255,255,.4); }
[placeholder]:focus::-moz-placeholder { color: transparent; }

[placeholder]:-ms-input-placeholder { color: rgba(255,255,255,.8); }
[placeholder]:hover:-ms-input-placeholder { color: rgba(255,255,255,.4); }
[placeholder]:focus:-ms-input-placeholder { color: transparent; }

.in input {
  display: block;
  width: 400px;
  margin: 0 0 20px;
  padding: 8px 12px 10px 12px;
  border: 2px solid white;
  border-radius: 3px;
  background:#080D33;
} 

textarea {
  display: block;
  width: 400px;
  height: 150px;
  margin: 0 0 20px;
  padding: 8px 12px 10px 12px;
  border: 1px solid rgba(0,0,0,.5);
  background: rgba(0,0,0,.25);
}

.radio {
  position: relative;
  display: inline-block;
  margin: 0 20px 20px 0;
}

.radio input[type="radio"] {
  vertical-align: middle;
  opacity: 0;
}

.radio label {
  vertical-align: middle;
  cursor: pointer;
}

.radio input[type="radio"] + label:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: -3px 5px 0 -15px;
  vertical-align: middle;
  font-size: 14px;
  font-family: fontawesome;
  line-height: 19px;
  text-align: center;
  border: 1px solid rgba(0,0,0,.5);
  background: rgba(0,0,0,.25);
}

.radio input[type="radio"] + label:before {
  border-radius: 50%;
}
.pp .jj{
  border: 1px solid white;
  text-align: center;
  margin: auto;
  margin-top: 15px;
}
.pp .jj:hover{
  background-color: white;
  font-weight: 700;
  color: black;
}
.radio input[type="radio"]:hover + label:before {
  content: '\f111';
  font-size: 9px;
  color: rgba(255,255,255,.4);
}

.radio input[type="radio"]:checked + label:before {
  content: '\f111';
  font-size: 9px;
  color: rgba(255,255,255,.8);
}

.radio .sex {
  font: 20px fontawesome;
}

input[type="submit"] {
  display: block;
  width: 150px;
  margin: 0 0 20px;
  padding: 8px 0 10px 0;
  text-align: center;
  border: 1px solid rgba(0,0,0,.5);
  background: #080D33;
  transition: all 0.4s;
  border-radius: 3px
}


.custom-select {
  min-width: 350px;
  position: relative;
}

select {
  appearance: none;
  /*  safari  */
  -webkit-appearance: none;
  /*  other styles for aesthetics */
  width: 100%;
  font-size: 1.15rem;
  padding: 0.675em 6em 0.675em 1em;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
}

.custom-select::before,
.custom-select::after {
  --size: 0.3rem;
  content: "";
  position: absolute;
  right: 1rem;
  pointer-events: none;
}

.custom-select::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid black;
  top: 40%;
}

.custom-select::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 55%;
}


/*=============
Aesthetics 
=========================*/

* {
  box-sizing: border-box;
}

